<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.um.mapper.TradeInfoMapper">
  
  
  <resultMap id="tradeInfoResult" type="com.um.domain.dto.TradeInfoDTO" >
    <result column="id" property="id"/>
    <result column="trade_type" property="tradeType"/>
    <result column="item_type" property="itemType"/>
    <result column="content" property="content"/>
    <result column="creator_user_id" property="creatorUserId"/>
    <result column="creator" property="creator"/>
    <result column="account_name" property="accountName"/>
    <result column="avatar_img_path" property="avatarImgPath"/>
    <result column="city_name" property="cityName"/>
    <result column="business_type" property="businessType"/>
    <collection property="businessImgDTOList" column="{businessCode=creator_user_id,businessType=business_type}" select="com.um.mapper.BusinessImgMapper.queryBusinessImgList"/>
  </resultMap>
  
  
  
  <select id="queryTradeInfoPage" parameterType="com.um.domain.request.TradeInfoQueryRequest" resultMap="tradeInfoResult" >

    select
      ti.id,
      ti.trade_type,
      ti.item_type,
      ti.content,
      ti.creator_user_id,
      ti.creator,
      u.account_name,
      u.avatar_img_path,
      ua.city_name,
      1 business_type
    from t_trade_info ti
    left join t_user u on ti.creator_user_id = u.user_id
    left join t_user_address ua on ti.creator_user_id = ua.user_id
    where ti.status = 1
    <if test="null != cityName and '' != cityName" >
      and ua.city_name like  CONCAT('%',#{cityName},'%')
    </if>
    <if test="null != itemType" >
      and ti.item_type = #{itemType}
    </if>
    <if test="null != tradeType" >
      and ti.trade_type = #{tradeType}
    </if>
    <if test="null != creatorUserId" >
      and ti.creator_user_id = #{creatorUserId}
    </if>
    order by ti.created_time desc
  </select>










</mapper>